.finalizado {
  background-color: #F5FCF9 !important;
}

.iniciado {
  background-color: #FFFFEB !important;
}

.primero {
  background-color: #FFFFEB !important;
}

.segundo {
  background-color: #EBF0FF !important;
}

.ultimo {
  background-color: #FFEBEB !important;
}

.acierto_goles {
  background-color: #FFFFEB !important;
}

.acierto_resultado {
  background-color: #EBF0FF !important;
}

.no_acierto {
  background-color: #F5FCF9 !important;
}
