#partidos .finalizado {
  background-color: #F5FCF9 !important;
}

#partidos .iniciado {
  background-color: #FFFFEB !important;
}

#posiciones .primero {
  background-color: #FFFFEB !important;
}

#posiciones .segundo {
  background-color: #EBF0FF !important;
}

#posiciones .ultimo {
  background-color: #FFEBEB !important;
}

#apuestas .acierto_goles {
  background-color: #FFFFEB !important;
}

#apuestas .acierto_resultado {
  background-color: #EBF0FF !important;
}

#apuestas .no_acierto {
  background-color: #F5FCF9 !important;
}

.ui-input-search{
  margin: 0.5em;
}
