<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.mncarbone.mundial2018"
    versionCode = "20"
    version     = "2.0.0" >
    <name>Mundial 2018</name>
    <description>Viví el mundial en TM</description>
    <author href="https://github.com/mncarbone" email="consultas@mncarbone.com.ar">
     MNC
    </author>
</widget>